BasedOnStyle: LLVM
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma
ColumnLimit: 90
FixNamespaceComments: false
IndentWidth: 4
UseTab: Never
